{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="model">
    <div class="buttons">
      <div class="row">
        <div class="title">
          Выберите файл для разгузки. Только форматы: JPG, JPEG.
        </div>
        <p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                {% for message in messages %}
                <div class="json">
                  <li>{{ message }}</li>
                </div>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </p>
        {% if filename %}
            <div>
                <img src="{{ url_for('static', filename=filename) }}" width = "300" height = "300">
            </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="file" class="choose" autocomplete="off" required>
                    
                </p>
            </dl>
            <p>
                <input type="submit" value="Анализ" class="submit">
            </p>
        </form>
    </div>
    </div>
  </div>
{% else %}
<div class="column is-4 is-offset-4">
    <div class="box">
        <style type="text/css">
            .space {
                padding: 20px;
                background: #314488;
                border-radius: 40px;
            }
        </style>
        <div class="space">    
            <h3 class="title"> <font color="#fff">Авторизация</font></h3>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/login">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Пароль">
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
